

.str{
    background-image: url("../images/team.jpg"); /* Фоновый цвет и фоновый рисунок*/
    height: 100vh;
    background-size: 100%;

    font-family: Inter; /*Helvetica; /*Доступная замена*/
    color: white;
}


.str2{
    /*background-image: url("../images/team.jpg");  Фоновый цвет и фоновый рисунок*/
    background-image: url("../images/background.png");
    height: 100vh;
    background-size: 100vw 15.7vw;
    background-repeat: no-repeat;

    font-family: Inter; /*Helvetica; /*Доступная замена*/
    color: white;
    background-color: rgba(0, 73, 44, 1);
}

.header-line{
    /*width: 100vw;*/
    height: 7 vw;
    
    /*position: absolute;*/
    display: flex;
    align-items: center;
    background-color:rgba(20, 84, 60, 1);
    z-index: 9999999;

    padding: 0 1.56vw;

    margin: 0vw; /*Отступы сверхуснизу справаслева */
    font-weight: 400;
    font-size: 0.73vw;
    font-family: Inter; /*Helvetica; /*Доступная замена*/

    justify-content: space-between;
}

.logo{
    margin-left: 3vw;
}

.menu
{
    display: flex;
    justify-content: center;
    text-align: center;

    margin-left: 7vw;
}

.menu-item
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.7vw;

    width: 13vw;
    color: white;
    
    text-decoration: none;
    
    /*margin-right: 1.04vw;
    
    
    padding: 0.74vh 0.74vh;
    /*padding-right: 4vw;*/

    font-weight: 600;
    font-size: 1.5vw;
    font-family: Inter; /*Доступная замена*/ 
}

.lk
{
    
    margin-top: 0.42vw;
    margin-left: 4.17vw;
    margin-right: 3vw;
}

.lk img{
    height: 1.98vw;
}

.phone
{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: 0.42vw;
}

.phone img{
    height: 1.98vw;
}

.results{
    height: 10vw;
    background-color: rgba(20, 84, 60, 0.6);

    display: flex;
}

.knopka{
    padding-left: 0.69vw;
    padding-right: 0.69vw;
    padding-top: 3vw;

    background-color: rgba(20, 84, 60, 0.7);
}

.match{
    height: 10vw;
    width: 25vw;
    background-color:rgba(0, 112, 71, 1);
}

.results p{
    margin: 0;
    display: flex;
    justify-content:center;
    font-size: 1vw;
    margin-top: 1.39vw;

}

.results button{
    height: 2.08vw;

    color: white;
    background-color:rgba(20, 84, 60, 1);
    text-decoration: none;
    
    margin-right: 1.04vw;
    border: 0vw solid rgba(20, 84, 60, 1);
    border-radius: 2vw;
    padding: 0.74vh 0.74vh;
    padding-left: 1.04vw;
    padding-right: 1.04vw;

    font-weight: 400;
    font-size: 1vw;
    font-family: Inter; /*Доступная замена*/
}
.block-news{
    display: flex;
    flex-wrap: wrap;

    font-size: 1vw;
}

.new{
    padding: 1vw;
    width: 34vw;
    height: 10vw;

    background-color: rgba(85, 182, 144, 0.3);
    border-radius: 2.08vw;

    margin: 1vw;
}

.basement{
    height: 4.2vw;
    background-color: rgba(20, 84, 60, 1);
    box-shadow: 0 -0.27vw 0.27vw rgba(0, 0, 0, 0.25);

    display: flex;
    
    align-items: center;

    padding-left: 4vw;
}

.store {
    background-color: rgba(20, 84, 60, 1);
    padding: 2vw;
    display: flex;
    justify-content: space-around;

}

.product {
    text-align: center;
    color: white;
    width: 15vw;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    padding: 1vw;
    flex-wrap: wrap;
}

.product img {
    width: 15vw;
}

.red-button {
    background-color: #B93423;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.club {
    display: flex;
    flex-wrap: wrap;

    font-size: 1vw;
}