<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer" />
    <!--Этот элемент определяет параметры отображения на мобильных устройствах width=device-width указывает, что ширина страницы должна соответствовать ширине устройства, а initial-scale=1.0 задает начальный масштаб отображения-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <!--Для шрифтра из фигмы-->
    <title>FKokos.ru</title>
    <link rel="stylesheet" href="../static/css/style.css"> <!--ИЗМЕНЕНО-->
    <script type="text/javascript" src="../static/js/script.js"></script> <!--ИЗМЕНЕНО-->
</head>

<body style="margin:0;">
    <div class="str">
        <div class="header-line"> <!--Шапка с менюшкой -->

            <div class="logo">
                <a href="#">
                    <img src="../static/images/logo.png" alt="Лого_кокос_групп">
                </a>
            </div>

            <div class="menu">
                <a class="menu-item" href="#">О клубе</a>
                <a class="menu-item" href="#">Команда</a>
                <a class="menu-item" href="#">Новости</a>
                <a class="menu-item" href="#">Матчи</a>
                <a class="menu-item" href="#">Магазин</a>
            </div>

            <div class="phone">
                <a href="#">
                    <img src="../static/images/phone-icon.png" alt="Телефон">
                </a>
            </div>

            <div class="lk">
                <a href="#">
                    <img src="../static/images/lk.png" alt="Личный кабинет">
                </a>
            </div>
        </div>
        <div class="results">
            <div class="previous, knopka">
                <a href="#">
                    <img src="../static/images/previous.png" alt="Стрелка">
                </a>
            </div>

            <div class="match">
                <p>28 сентября 2024 15:50</p>
                <div style="display: flex; justify-content: space-between; margin-left: 2vw; margin-right: 2vw;">
                    <p style="flex-direction: column; margin-top: -0.3vw; align-items: center;">
                        <img style="width: 3.47vw;" src="../static/images/logo-pishevik.png" alt="лого">
                        Пищевик
                    </p>
                    <p>5:2</p>
                    <p style="flex-direction: column; margin-top: -0.3vw; align-items: center;">
                        <img style="width: 3.47vw;" src="../static/images/logo.png" alt="лого">Кокос Групп
                    </p>
                </div>
                <div style="display: flex; justify-content:center;">
                    <button>Смотреть матч</button>
                </div>
            </div>
            <div class="tablo" style="width: 20.49vw;">
                <p style="padding-left: 1.67vw; justify-content: left;">20.09.2024 13:30</p>
                <div style="display: flex; align-items: center;">
                    <img style="width: 2.08vw; margin-right: 1vw; margin-left: 1.67vw; margin-top: 1.39vw;"
                        src="../static/images/logo.png" alt="лого">
                    <p> Кокос Групп </p>
                </div>
                <div style="display: flex; align-items: center;">
                    <img style="width: 2.08vw; margin-right: 1vw; margin-left: 1.67vw; margin-top: 1.39vw;"
                        src="../static/images/logo-antisport.png" alt="лого">
                    <p> Антиспорт</p>
                </div>
            </div>
            <div class="next, knopka" >
                <a href="#">
                    <img src="../static/images/next.png" alt="Стрелка">
                </a>
            </div>



        </div>


    </div>


</body>